@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50,200;50,291;100,200;100,600;100,700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #eeeeee;
    background: #000;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#clock {
    font-family: 'Inconsolata', monospace;
    display: flex;
    text-align: center;
    align-items: baseline;
    font-size: 6rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

#time_m {
    font-stretch: 200%;

}

#time_s {
    font-size: 25%;
}

#am_pm {
    font-size: 20%;
}

.time_dh {
    font-size: 75%;
    align-self: center;
}

.time_dm {
    font-size: 20%;
    align-self: baseline;

}